/**=======================================================**
                    HOME-SLIDER SECTION START
**=======================================================**/

.home-slider {
  padding: length(48) length(20);

  &-content {
    @include flex-column;
    gap: length(16);
  }

  &-header {
    @include flex-center-column;
    gap: length(8);
    text-align: center;

    .sliderinfo {
      .slider-title {
        color: $footerbg;
        @include font-face($secondaryFont, style('normal'), size(30), weight('semibold'), line-height(42, 30));
  
        // @include breakpoint(mobile576) {
        //   @include font-face($secondaryFont, style('normal'), size(36), weight('semibold'), line-height(50.4, 36));
        // }
  
        // @include breakpoint(mobile768) {
        //   @include font-face($secondaryFont, style('normal'), size(42), weight('semibold'), line-height(58.8, 42));
        // }
  
        // @include breakpoint(tab992) {
        //   @include font-face($secondaryFont, style('normal'), size(48), weight('normal'), line-height(67.2, 48));
        // }
      }
    }

    .clockinfo {
      .date {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(19.6, 14));
      }
    }
  }
}

/**=======================================================**
                    HOME-SLIDER SECTION END
**=======================================================**/



/**=======================================================**
                    TEST SECTION START
**=======================================================**/

.testsection {
  background: $white;
  padding: length(48) length(20);
  
  // @include breakpoint(mobile768) {
  //   padding: length(64) length(20);
  // }
  
  // @include breakpoint(tab992) {
  //   padding: length(80) length(20);
  // }

  &-content {
    @include flex-column;
    gap: length(24);
      
    @include breakpoint(tab992) {
      gap: length(40);
    }
  }

  &-header {
    .test-title {
      color: $footerbg;
      @include font-face($secondaryFont, style('normal'), size(30), weight('semibold'), line-height(42, 30));

      // @include breakpoint(mobile576) {
      //   @include font-face($secondaryFont, style('normal'), size(36), weight('semibold'), line-height(50.4, 36));
      // }

      // @include breakpoint(mobile768) {
      //   @include font-face($secondaryFont, style('normal'), size(42), weight('semibold'), line-height(58.8, 42));
      // }

      // @include breakpoint(tab992) {
      //   @include font-face($secondaryFont, style('normal'), size(48), weight('normal'), line-height(67.2, 48));
      // }
    }
  }

  &-body {
    @include flex-column;
    gap: length(24);
  }
}

/**=======================================================**
                    TEST SECTION END
**=======================================================**/



/**=======================================================**
                    BLOG SECTION START
**=======================================================**/

.blog {
  padding: length(48) length(20);
  
  // @include breakpoint(mobile768) {
  //   padding: length(64) length(20);
  // }
  
  // @include breakpoint(tab992) {
  //   padding: length(80) length(20);
  // }

  &-content {
    @include flex-column;
    gap: length(24);
      
    @include breakpoint(tab992) {
      gap: length(40);
    }
  }

  &-header {
    .blog-title {
      color: $footerbg;
      @include font-face($secondaryFont, style('normal'), size(30), weight('semibold'), line-height(42, 30));

      // @include breakpoint(mobile576) {
      //   @include font-face($secondaryFont, style('normal'), size(36), weight('semibold'), line-height(50.4, 36));
      // }

      // @include breakpoint(mobile768) {
      //   @include font-face($secondaryFont, style('normal'), size(42), weight('semibold'), line-height(58.8, 42));
      // }

      // @include breakpoint(tab992) {
      //   @include font-face($secondaryFont, style('normal'), size(48), weight('normal'), line-height(67.2, 48));
      // }
    }
  }
}

/**=======================================================**
                    BLOG SECTION END
**=======================================================**/



/**=======================================================**
                    DOCTORSINFO SECTION START
**=======================================================**/

.doctorsinfo {
  background: $white;
  padding: length(48) length(20);
  
  // @include breakpoint(mobile768) {
  //   padding: length(64) length(20);
  // }
  
  // @include breakpoint(tab992) {
  //   padding: length(80) length(20) length(160);
  // }

  &-content {
    @include flex-column;
    gap: length(24);
      
    @include breakpoint(tab992) {
      gap: length(40);
    }
  }

  &-header {
    .doctorsinfo-title {
      color: $footerbg;
      @include font-face($secondaryFont, style('normal'), size(30), weight('semibold'), line-height(42, 30));

      // @include breakpoint(mobile576) {
      //   @include font-face($secondaryFont, style('normal'), size(36), weight('semibold'), line-height(50.4, 36));
      // }

      // @include breakpoint(mobile768) {
      //   @include font-face($secondaryFont, style('normal'), size(42), weight('semibold'), line-height(58.8, 42));
      // }

      // @include breakpoint(tab992) {
      //   @include font-face($secondaryFont, style('normal'), size(48), weight('normal'), line-height(67.2, 48));
      // }
    }
  }

  &-body {
    @include w100;

    .doctorgallery {
      @include w100;
      @include flex-column;
      gap: length(24);
  
      @include breakpoint(tab992) {
        flex-direction: row;
      }

      .gallery-info {
        @include w100;
        overflow: hidden;
  
        @include breakpoint(tab992) {
          width: 70%;
        }
      }

      .gallery-thumbs {
        overflow: hidden;
        @include w100;
        @include flex-center-vert;
        flex-wrap: wrap;
        gap: length(12);
  
        @include breakpoint(tab992) {
          width: 30%;
          flex-direction: column;
          flex-wrap: nowrap;
          max-height: length(623);
          overflow-x: hidden;
          overflow-y: scroll;
          padding-right: length(8);

          &::-webkit-scrollbar {
            background: transparent;
            width: length(8);
          }
  
          &::-webkit-scrollbar-thumb {
            background: $gray-300;
            @include radius(8);
          }    
        }

        .item {
          width: calc(50% - 0.5rem);

          @include breakpoint(tab992) {
            @include w100;
          }
        }
      }
    }    
  }
}

/**=======================================================**
                    DOCTORSINFO SECTION END
**=======================================================**/